html {
  width: 100%;
  padding: 0;
  margin: 0;
}

h1 {
  margin-top: .5em;
  margin-bottom: .5em;
  width: 100vw;
  color: yellow;
  text-align: center;
  font-size: 5em;
  font-family: 'Press Start 2P', cursive;
}

h3 {
  color: white;
  padding: 0 10%;
  margin: 2em 3% 2em 15%;
  font-family: 'Fredoka One', cursive;
  font-size: 30px;
}

img {
  display: block;
  width: 200px;
  margin-left: auto;
  margin-right: auto; 
}


.members {
  text-align: center;
  margin: 0 4%;
  padding: 5px;
  display: inline-block;

}
.linkedin {
  width: 30px; 
  opacity: .5;
}

.linkedin:hover {
  cursor: pointer;
  opacity: 1;
}

/* Home button */
h4 > a {
  color: yellow;
  margin: 3em 55% auto 45%;
  text-decoration: none;
  font-size: 25px;
  font-family: 'Press Start 2P', cursive;
  opacity: .6;
}

#back-home:hover {
  cursor: pointer;
  color: red;
  opacity: 1;
}

#group-image {
  margin-top: 3em;
  width: 1000px;
  height: auto;
}