
/* The Modal (background) */
.new-user, .old-user, .instruction {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  margin: auto;
  background-color: rgb(0,0,0,0,6); /* Fallback color */
  background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

#instruction-window{
  padding-top: 0
}

/* Modal Content */
.modal-content {
  background-color: #102347;
  margin: auto;
  padding: 3em 2em;
  border: 3px solid yellow;
  width: 60%;
 
}



/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

h2 {
  font-size: 35px;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  color: yellow;
  margin-bottom: 1em;
}
p{
  font-size: 35px;
  color: yellow;
  font-family: 'Caveat Brush', cursive;
  margin-bottom: .7em;
}

input {
  margin: 2em 40% 2em 30%;
  font-family: 'Press Start 2P', cursive;
  font-size: 15px;
  background-color: black;
  color: white;
  padding: 1em;
}

button {
  text-align: center;
  color: white;
  border: 5px solid yellow;
  background-color: #081124;
  margin: .8em 45% 0 45%;
  padding: .8em 1.5em;
  font-size: 15px;
  font-family: 'Press Start 2P', cursive;
}

button:hover{
  cursor: pointer;
  border: 5px solid red;
}

.playicon {
  width: 80px;
}



/* audio  */
audio {
  display: none;
}

#audio-img {
  float: right; 
  width: 50px;
  height: 50px;
  margin: 3em 3em 0 0;
}

#audio-img:hover {
  border: 2px solid red;
  cursor: pointer;
}
