#gameplayBody {
  /* height: 90vh; */
  background-size: 100%;
  background-image: url("img/GAMEPLAYbg.gif");
}

header {
  height:10vh;
  background-color: blue;
}

#namecard{
  height: 100%;
  line-height: 100%;
  width:25%;
  margin-left:50px;
  background-color: blueviolet;
  font-size: 35px;
  color: goldenrod;
  border: 3px solid goldenrod;
  display:inline-block;
}

#name{
  display: inline-block;
  vertical-align: middle;
  line-height: 60px;
}

#computercard{
  height: 100%;
  line-height: 100%;
  width:25%;
  margin-right:50px;
  background-color: blueviolet;
  font-size: 35px;
  color: goldenrod;
  border: 3px solid goldenrod;
  float:right;
}

#computer{
  display: inline-block;
  vertical-align: middle;
  line-height: 60px;
}

#roundcard{
  margin: auto;
  width: 30%;
  display:inline-block;
  border: 3px solid goldenrod;
}

#rounddiv{
  background-color: deepskyblue;
}

#roundnumberdiv{
  background-color: black;
}

#gamemid{
  height:50vh;
}

#selections {
  width: 40vw;
  height:25vh;
  float: left;
  margin-left:50px;
  background-color: black;
  border-radius: 25px;
  /* opacity: 0.5; */
}

.selectdiv {
  display:inline-block;
  width:32%;
  /* opacity: 1; */
}

#rock:hover {
  transform: scale(1.1);
}

#paper:hover {
  transform: scale(1.1);
}

#scissors:hover {
  transform: scale(1.1);
}

#time-machine:hover{
  transform: scale(1.1);
}

#time-machine:active{
  transform: scale(1);
}

#rock:active{
  transform: scale(1);
}

#paper:active {
  transform: scale(1);
}

#scissors:active {
  transform: scale(1);
}

#rock {
  width:80%;
}

#paper{
  width:80%;
}

#scissors{
  width:80%;
}

.modifier{
  background-color: red;
}

#heartrack{
  height: 10vh;
  width: 25%;
  float:right;
  background-color: aqua;
}