#gameplayBody {
  /* height: 90vh; */
  background-size: 100%;
  background-image: url("img/GAMEPLAYbg.gif");
}

header {
  height:10vh;
  background-color: blue;
}

#gamemid{
  height:30vh;
}

#selections {
  width: 40vw;
  height:25vh;
  float: left;
  margin-left:50px;
  background-color: black;
  border-radius: 25px;
  /* opacity: 0.5; */
}

.selectdiv {
  display:inline-block;
  width:32%;
  /* opacity: 1; */
}

#rock:hover {
  transform: scale(1.1);
}

#paper:hover {
  transform: scale(1.1);
}

#scissors:hover {
  transform: scale(1.1);
}

#time-machine:hover{
  transform: scale(1.1);
}

#time-machine:active{
  transform: scale(1);
}

#rock:active{
  transform: scale(1);
}

#paper:active {
  transform: scale(1);
}

#scissors:active {
  transform: scale(1);
}

#rock {
  width:80%;
}

#paper{
  width:80%;
}

#scissors{
  width:80%;
}

/* #time-machine{
  width:20%
} */

.modifier{
  background-color: red;
}

#heartrack{
  height: 10vh;
  width: 25%;
  float:right;
  background-color: aqua;
}