#gameplayBody {
  height: 90vh;
  width: 100vh;
  background-image: url("img/GAMEPLAYbg.gif");
  background-size: 100vw 100vh;
}

#scoresBody{
  height: 90vh;
  width: 100vh;
  background-image: url("img/GAMEPLAYbg.gif");
  background-size: 100vw 100vh;
}

#indexBody{
  height: 90vh;
  width: 100vh;
  background-image: url("img/TITLEbg.gif");
  background-size: 100vw 100vh;
}

#gamemid{
  height:60vh;
}

#selections {
  width: 40vw;
  height:20vh;
  float: left;
  margin-left:50px;
}

.selectdiv {
  display:inline-block;
  width:32%;
 
}

#rock:hover {
  transform: scale(1.1);
}

#paper:hover {
  transform: scale(1.1);
}

#scissors:hover {
  transform: scale(1.1);
}

#rock:active{
  transform: scale(1);
}

#paper:active {
  transform: scale(1);
}

#scissors:active {
  transform: scale(1);
}


#rock {
  width:80%;

}

#paper{
  width:80%;

}

#scissors{
  width:80%;
 
}

#round{
  display:inline-block;
}
#roundnumber{
  display:inline-block;
}

/* 

COLOR PALETTE

light blue: 20 166 204 
#14A6CC

dark blueL 56 133 153
#388599

dandylion 255 255 22
#FFFF16

orange red: 255 59 49
#FF3B31

purple red: 204 0 69 
#CC0045

*/